.products-container {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four cards per row */
  gap: 20px; /* Space between cards */
}

.product-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.price-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price-button-container p {
  margin: 0;
}

.product-image {
  width: 90%;
  height: 250px; /* Consistent image height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 10px;
  margin-bottom: 15px;
}

.mat-raised-button {
  background-color: #0f0e17;
  color: white;
}
