<div class="container">
  

  <div class="products-container">
    <h2 class="section-title">Teléfonos</h2>
    <div class="products-grid">
      <mat-card class="product-card" *ngFor="let producto of productos">
        <img mat-card-image *ngIf="producto.imagen" [src]="'data:image/jpeg;base64,' + producto.imagen" alt="Imagen del producto" class="product-image">
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-content>
          <p>{{ producto.descripcion }}</p>
          <div class="price-button-container">
            <p><strong>{{ producto.precio | currency }}</strong></p>
            <button mat-raised-button color="primary" (click)="generarSolicitud(producto)">Generar Solicitud</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  
  <hr />

  <!-- Formulario para crear un nuevo producto -->
  <h2>Crear Nuevo Producto</h2>
  <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">
    <div class="form-group">
      <label for="Nombre">Nombre</label>
      <input id="Nombre" class="form-control" formControlName="nombre" />
    </div>

    <div class="form-group">
      <label for="Descripcion">Descripción</label>
      <textarea id="Descripcion" class="form-control" formControlName="descripcion"></textarea>
    </div>

    <div class="form-group">
      <label for="Precio">Precio</label>
      <input id="Precio" type="number" class="form-control" formControlName="precio" />
    </div>

    <div class="form-group">
      <label for="Imagen">Imagen</label>
      <input id="Imagen" type="file" class="form-control" (change)="onFileChange($event)" />
    </div>

    <div class="form-group">
      <label for="Stock">Stock</label>
      <input id="Stock" type="number" class="form-control" formControlName="stock" />
    </div>

    <div class="form-group">
      <label for="CategoriaId">Categoría ID</label>
      <input id="categoriaId" type="number" class="form-control" formControlName="categoriaId" />
    </div>

    <button type="submit" class="btn btn-success">Crear Producto</button>
  </form>
</div>
