.container {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .mat-card {
    width: 100%;
    transition: transform 0.2s;
    margin: 0 10px;
  }
  
  .mat-card:hover {
    transform: scale(1.05);
  }
  
  .mat-card-image {
    height: 200px;
    object-fit: cover;
  }
  
  .mat-raised-button {
    width: 100%;
    text-align: center;
  }
  