<mat-card>
    <div class="supplier-management">
        <div class="header">
            <h1 class="title">Administración de Proveedores</h1>
            <!--<button mat-raised-button (click)="openDialog()" class="add-button">Agregar Proveedor</button>-->
        </div>
        <mat-form-field appearance="standard" class="search-field">
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar proveedores..." />
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="title">Nombre</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.nombre }}</td>
            </ng-container>
        
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="title">Email</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.email }}</td>
            </ng-container>
        
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef class="title">Teléfono</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.telefono }}</td>
            </ng-container>
        
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef class="title">Dirección</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.direccion }}</td>
            </ng-container>
        
            <ng-container matColumnDef="porductos">
                <th mat-header-cell *matHeaderCellDef class="title">Productos</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.porductos }}</td>
            </ng-container>
        
            <ng-container matColumnDef="tiempoentrega">
                <th mat-header-cell *matHeaderCellDef class="title">Tiempo de Entrega</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.tiempoentrega }}</td>
            </ng-container>
        
            <ng-container matColumnDef="calidad">
                <th mat-header-cell *matHeaderCellDef class="title">Calidad</th>
                <td mat-cell *matCellDef="let supplier">{{ supplier.calidad }}</td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="title">Acciones</th>
                <td mat-cell *matCellDef="let supplier">
                    <button mat-icon-button (click)="editSupplier(supplier)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteSupplier(supplier)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</mat-card>