<h2 mat-dialog-title>{{ data ? "Editar Proveedor: " : "Agregar Proveedor" }}</h2>
<form [formGroup]="supplierForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Productos</mat-label>
      <input matInput formControlName="porductos" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tiempo de Entrega</mat-label>
      <input matInput formControlName="tiempoentrega" />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Calidad</mat-label>
      <input matInput type="number" formControlName="calidad" />
    </mat-form-field>
  
    <div mat-dialog-actions>
      <!--<button mat-button (click)="dialogRef.close()">Cancelar</button>-->
      <button mat-button color="primary" type="submit">Guardar</button>
    </div>
  </form>
