<h2 mat-dialog-title>{{ data ? "Editar Proveedor: " : "Agregar Proveedor" }}</h2>
<form [formGroup]="supplierForm">
    <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="name" placeholder="Nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="contact" placeholder="Contacto" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="quality" placeholder="Calidad" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <input matInput formControlName="deliveryTime" placeholder="Tiempo de Entrega" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <textarea matInput formControlName="products" placeholder="Productos (separados por comas)"></textarea>
    </mat-form-field>

    <div class="actions">
        <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button type="submit" (click)="onSubmit()">Guardar</button>
    </div>
</form>