.example-form {
    border: 2px solid #0f0e17;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 400px;
}

label {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.separar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.example-form mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.example-form button {
    width: 48%;
}

.mat-raised-button {
    background-color: #0f0e17;
    color: white;
}