<form class="example-form">
    <div class="separar">
        <label>Iniciar Sesión</label>
    </div>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </p>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-container">
        <button mat-raised-button routerLink="/products">Ingresar</button>
        <button mat-raised-button routerLink="/register">Registrarse</button>
    </div>
</form>