
.example-form {
    border: 2px solid #3f51b5;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 25%;

}
label{

    margin-left: 35%;
    font-size: 28px;
    margin-bottom: 5%;
   
}
.separar{
    margin-top: 2%;
    margin-bottom: 2%;
}
.example-form mat-form-field {

    margin-left: 22%;
    width: 50%;
}

.example-form button {
    margin-left: 34%;
    width: 25%;
   
}
