.example-form {
    border: 2px solid #3f51b5;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 80px auto;
}

.titulo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.separar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.example-form mat-form-field {
    flex: 1;
}

.example-form button {
    width: 100%;
    margin-top: 15px;
}

.rol {
    flex: 1;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.rol mat-radio-button {
    flex: 1;
}

.mat-raised-button {
    background-color: #0f0e17;
    color: white;
}