.main-body {
    padding: 20px;
}

table {
    width: 100%;
    padding: 40px;
    padding-bottom: 100px;
}

.table-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.mat-raised-button {
    background-color: #0f0e17;
    color: white;
}