
  
<div class="solicitud-container">
  <!-- Formulario de Solicitud -->
  <div class="solicitud-formulario">
    <h2>Generar Solicitud</h2>
 
  <form [formGroup]="solicitudForm" (ngSubmit)="crearSolicitud()" class="form-body">
    
    <!-- Campos del Cliente -->
    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre del Cliente</mat-label>
          <input matInput formControlName="nombreCliente">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo del Cliente</mat-label>
          <input matInput formControlName="correoCliente">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefonoCliente">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="ciudad">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Estado/Provincia</mat-label>
          <input matInput formControlName="estadoProvincia">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Dirección Calle 1</mat-label>
          <input matInput formControlName="direccionCalle1">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Código Postal</mat-label>
          <input matInput formControlName="codigoPostal">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Referencia</mat-label>
          <input matInput formControlName="referencia">
        </mat-form-field>
      </div>
    </div>

    <!-- Selección de Método de Pago -->
    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Método de Pago</mat-label>
          <mat-select formControlName="metodoPago">
            <mat-option value="paypal">PayPal</mat-option>
            <mat-option value="tarjeta">Tarjeta de Crédito</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Campos de Pago para PayPal -->
    <div class="form-row" *ngIf="solicitudForm.get('metodoPago')?.value === 'paypal'">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo PayPal</mat-label>
          <input matInput formControlName="correoPaypal">
        </mat-form-field>
      </div>
    </div>

    <!-- Campos de Pago para Tarjeta de Crédito -->
    <div class="form-row" *ngIf="solicitudForm.get('metodoPago')?.value === 'tarjeta'">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre en la Tarjeta</mat-label>
          <input matInput formControlName="nombreTarjeta">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Número de la Tarjeta</mat-label>
          <input matInput formControlName="numeroTarjeta">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Expiración de la Tarjeta</mat-label>
          <input matInput formControlName="expiracionTarjeta">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CVC de la Tarjeta</mat-label>
          <input matInput formControlName="cvcTarjeta">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad" (input)="onCantidadChange()">
        </mat-form-field>
      </div>
    </div>
 
    <button mat-raised-button  type="submit">Crear Solicitud</button>
    </form>
  </div>

  <!-- Información de Detalle del Producto -->
    <div class="detalle-producto">
      <div class="producto-detalles" *ngIf="productoSeleccionado">
        <h3>Detalles del Producto</h3>
        <p><strong>Nombre:</strong> {{ productoSeleccionado.nombre }}</p>
        <p><strong>Descripción:</strong> {{ productoSeleccionado.descripcion }}</p>
        <p><strong>Precio:</strong> ${{ productoSeleccionado.precio }}</p>
        
        <div class="imagen-container">
          <img [src]="'data:image/jpeg;base64,' + productoSeleccionado.imagen" 
               alt="{{ productoSeleccionado.nombre }}" 
               class="producto-imagen">
        </div>
        
      </div>

      <!-- Información de Totales -->
          <div class="form-summary">
            <div class="summary-item">
              <mat-icon class="summary-icon">attach_money</mat-icon>
              <div class="summary-text">
                <p><strong>Precio Total:</strong></p>
                <p>${{ precioTotal }}</p>
              </div>
            </div>
            
            <div class="summary-item">
              <mat-icon class="summary-icon">local_shipping</mat-icon>
              <div class="summary-text">
                <p><strong>Costo de Envío:</strong></p>
                <p>${{ costoEnvio }}</p>
              </div>
            </div>
            
            <div class="summary-item">
              <mat-icon class="summary-icon">payment</mat-icon>
              <div class="summary-text">
                <p><strong>Total:</strong></p>
                <p>${{ precioTotal + costoEnvio }}</p>
              </div>
            </div>
          </div>


      </div>
</div>