.solicitud-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.solicitud-formulario {
  max-width: 800px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.producto-detalles h3 {
  text-align: center;
  margin-bottom: 15px;
}

.imagen-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-group {
  flex: 2;
  min-width: calc(50% - 20px); /* Ajusta la anchura mínima para que se vean dos campos por fila */
}
.producto-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-group-full {
  width: 100%; /* Para que el método de pago ocupe toda la fila */
}

.full-width {
  width: 100%;
}

.detalle-producto {
  max-width: 400px;
  width: 100%;
  margin-left: 40px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-detalles img.producto-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.form-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa; /* Color de fondo claro */
  border: 1px solid #e0e0e0; /* Borde gris claro */
}
.summary-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.summary-text {
  display: flex;
  flex-direction: column;
}

.summary-text p {
  margin: 0;
  font-size: 16px;
  color: #333; /* Color del texto */
}

.summary-text strong {
  font-weight: 600;
}
.summary-icon {
  font-size: 24px;
  color: #000000; /* Color del icono, puedes cambiarlo */
}
.text-black {
  color: black;
}

.text-black mat-icon {
  color: black;
}
