<div mat-dialog-title>
    <h1>Clientes</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" placeholder="Luis Fernando" formControlName="nombres">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" placeholder="Pilco Mayorga" formControlName="apellidos">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="ejemplo123@email.com" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>    
    </div>
    <br>
    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="genero">
            <mat-label>Genero: </mat-label>
            <mat-radio-button value="masculino">Masculino</mat-radio-button>
            <mat-radio-button value="femenino">Femenino</mat-radio-button>
            <mat-radio-button value="otro">Otro</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Metodo de pago</mat-label>
            <mat-select formControlName="pago">
                <mat-option *ngFor="let val of metodo" [value]="val">{{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Domicilio</mat-label>
            <input matInput type="text" placeholder="Portete y la 17" formControlName="domicilio">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Items agregados</mat-label>
            <input matInput type="text" placeholder="10" type="number" formControlName="items">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Total: $</mat-label>
            <input matInput type="text" placeholder="120" type="number" formControlName="total">
            <mat-hint>En dolares</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions  class="action">
    <button mat-raised-button>Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
</div>
</form>