<div class="ordenes-container">
  <h2 class="headline-medium">Lista de Órdenes</h2>

  <div class="search-container">
    <mat-form-field class="search-field" >
      <input matInput placeholder="Buscar por cliente, producto o id" [(ngModel)]="filterValue" (keyup.enter)="aplicarFiltro()">
      <button mat-icon-button matSuffix (click)="limpiarFiltro()">
        <mat-icon>clear</mat-icon> <!-- Puedes usar 'refresh' si prefieres un ícono de recarga -->
      </button>
    </mat-form-field>
    <button mat-raised-button  (click)="aplicarFiltro()">Buscar</button>
  </div>
  
  

  <table mat-table [dataSource]="ordenesFiltradas" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> ID </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.solicitudId }} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Cliente </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.nombreCliente }} </td>
    </ng-container>

    <ng-container matColumnDef="telefonoCliente">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Teléfono </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.telefonoCliente }} </td>
    </ng-container>

    <ng-container matColumnDef="productos">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Productos </th>
      <td mat-cell *matCellDef="let orden">
        <div>
          <p>{{ orden.producto.nombre }}  </p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="precioTotal">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Precio Total </th>
      <td mat-cell *matCellDef="let orden"> {{ orden.precioTotal | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="detalles">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Factura </th>
      <td mat-cell *matCellDef="let orden">
        <a style="color: black;" [routerLink]="['/detalle-orden', orden.solicitudId]">Ver Detalles</a>
      </td>
    </ng-container>
    

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="label-medium"> Acciones </th>
      <td mat-cell *matCellDef="let orden">
        <button mat-icon-button style="color: black;" (click)="editarSolicitud(orden.solicitudId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button style="color: black;" (click)="borrarOrden(orden.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
